<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Movie Recommendation System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Movie Recommendation System</h1>
    </header>
    <div class="container">
      <form id="recommend-form">
        <input type="text" id="user_id" placeholder="Enter User ID" required />
        <button type="submit">Get Recommendations</button>
      </form>
      <ul id="recommendations"></ul>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
