<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Movie Recommendation System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>Login</header>
    <div class="container">
      <form method="POST" action="{{ url_for('routes.login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label }} {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.label }} {{ form.password }}
        </div>
        {{ form.submit }}
      </form>
    </div>
  </body>
</html>
